
:root {
  /* background color */
  --bg-primary-color: rgb(32, 32, 32);
  --bg-secondary-color: rgb(53, 53, 53);
  --bg-active-color: greenyellow;

  /* text color */
  --text-primary-color: rgb(18, 18, 18);
  --text-secondary-color: rgb(200, 200, 200);
  --text-active-color: rgba(161, 251, 27, 0.566);

  /* padding */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;

  /* margin */
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --margin-2xl: 3rem;

  /* gutter */
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-2xl: 3rem;

  /* Border radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
}